*, .row, #screen-container { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body {
  width:100%;
  height:100%;
  background-color: rgb(39,39,38);
  color: #ECECEC;
}

h1 {
  font-family: 'VT323';
}

.row {
  height:100%;
  width: 100%;
}

canvas {
  display:block;
}

.callout {
  font-family: 'VT323';
}

#short-code {
    color: red;
    height: 100%;
}

#negative {
    color: red;
}

#positive {
    color: 'green';
}

#negative {
    color: 'white';
}

#phone-numbers {
  color: red;
  margin: 0;
  padding: 0;
}
